/*
Author : Winnee (WTN)
Date : 10-30-2018

*/
html {
    height: 100%;
}

body {
    height: 100%;

}


.navbar-brand{
    color: #dbeaeb;
}

.navbar-light .navbar-toggler{
    border-color: none !important;
}


.bg-primary{
    background-color: #3d5370 !important;
}
.bg-secondary{
    background-color: #dbeaeb !important;
}
