.login-container {
    height: 100vh;
    background: #dbeaeb;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;


    .btn-login {
        background: #69bbe9;
    }

    .bg-login-card {
        background: #3d5370;

    }
}
